<div>
    <button type="button" class="close" ng-click="ok()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal__title">Import</h3>
    <div data-ng-show="error" class="text-message text-error">
      <strong data-ng-bind="error"></strong>
    </div>
   <div class="modal__row">
        <textarea class="textarea-markdown" ng-model="listsString"></textarea>

    </div>
    <div class="modal__row">
          <input class="btn" type="file" data-ng-model="file"  onchange="angular.element(this).scope().upload()" id="uploadImportFileInput">
          <button class="btn" data-ng-click="triggerUpload();">
                  <i class="icon-file"></i>
               Choose File
          </button>
            <a class="btn" data-ng-show="listsString" data-ng-click="import(); ">
                <i class="icon-import"></i>
                 Import
            </a>
        </div>
</div>
