<div>
    <button type="button" class="close" ng-click="ok()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <div data-ng-controller="ChangeProfilePictureController" >
        <div class="modal__header">

       <div class="profile-image__container" uploadfile>

          <img data-ng-src="{{imageURL}}" alt="{{user.displayName}}" class="profile-image__image"  />
          <span class="btn btn-default btn-file profile-image__button" >change
<input type="file" nv-file-select uploader="uploader">
</span>
        </div>

    <div class="modal__row__sub" data-ng-show="uploader.queue.length">
        <div data-ng-show="success" class="text-message text-success">
          <strong>Profile Uploaded Successfully</strong>
        </div>
        <div data-ng-show="error" class="text-center text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
       <div class=" btn__container ">
          <button class="btn btn-ok" data-ng-click="uploadProfilePicture();">Ok</button>
          <button class="btn btn-cancel" data-ng-click="cancelUpload();">Cancel</button>
        </div>

    </div>
</div>

    <div class="modal__row"  >
        <a class="btn"  id="editProfileToggler" slide-toggle="#editProfile" >
            <i class="icon-profile"></i>
            <i class=" icon-collapse" style=""></i>
           Edit Profile
        </a>
    <div class="modal__row__sub slideable" id="editProfile" >
        <form data-ng-controller="EditProfileController" name="userForm" data-ng-submit="updateUserProfile(userForm.$valid);"  autocomplete="off">
      <fieldset>
        <div data-ng-show="success" class="text-message text-success">
          <strong>Profile Changed Successfully</strong>
        </div>
        <div data-ng-show="error" class="text-message text-error">
          <strong data-ng-bind="error"></strong>
        </div>
        <div  class="input-container">
          <label for="firstName">First Name</label>
          <input type="text" name="firstName" class="" data-ng-model="user.firstName" placeholder="First Name">
        </div>
        <div class="input-container">
          <label for="lastName">Last Name</label>
          <input type="text" name="lastName" class="" data-ng-model="user.lastName" placeholder="Last Name">
        </div>
        <div class="input-container">
          <label for="email">Email</label>
          <input type="email" name="email" class="" data-ng-model="user.email" placeholder="Email">
        </div>
        <div class="input-container">
          <label for="username">Username</label>
          <input type="text" name="username" class="" data-ng-model="user.username" placeholder="Username">
        </div>
       <div class=" btn__container ">
          <button type="submit" class="btn btn-ok" >Save</button>
          <a class="btn btn-cancel" data-ng-click="$parent.resetProfile();" slide-toggle-sub="#editProfileToggler">Cancel</a>
        </div>

              </fieldset>

      </form>
    </div>
    </div>

<!--   <div class="modal__row">
        <a class="btn" data-ng-click="">
            <i class="icon-settings"></i>

             Settings
        </a>
    </div> -->
  <div class="modal__row" >
        <a class="btn"  id="editPasswordToggler"  slide-toggle="#editPassword">
            <i class="icon-password"></i>
            <i class=" icon-collapse" style=""></i>
             Change Password

        </a>
  <div class="modal__row__sub slideable" data-ng-controller="ChangePasswordController" id="editPassword" >
    <form  autocomplete="off"  data-ng-submit="changeUserPassword();">
      <fieldset>
        <div data-ng-show="success" class="text-message text-success">
          <strong>Password Changed Successfully</strong>
        </div>
        <div data-ng-show="error" class="text-message text-error">
          <strong data-ng-bind="error"></strong>
        </div>
        <div class="input-container">
          <label for="currentPassword">Current Password</label>
          <input type="password" id="currentPassword" name="currentPassword" class="" data-ng-model="passwordDetails.currentPassword" placeholder="Current Password">
        </div>
        <div class="input-container">
          <label for="newPassword">New Password</label>
          <input type="password" id="newPassword" name="newPassword" class="" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
        </div>
        <div class="input-container">
          <label for="verifyPassword">Verify Password</label>
          <input type="password" id="verifyPassword" name="verifyPassword" class="" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
        </div>
        <div class=" btn__container ">
          <button type="submit" class="btn btn-ok"  >Save Password</button>
          <a class="btn btn-cancel"   slide-toggle-sub="#editPasswordToggler">Cancel</a>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div class="modal__row" >
      <a class="btn"  id="editPasswordToggler"  slide-toggle="#advanced">
          <i class="icon-options"></i>
          <i class=" icon-collapse" style=""></i>
           Advanced Settings

      </a>
<div class="modal__row__sub slideable"  id="advanced" >
  <div class="modal__row">
    <a class="btn" data-ng-click="exportLists(); ok();">
      <i class="icon-export"></i> Export All Lists
    </a>
    <a class="btn" data-ng-click="importLists(); ok();">
      <i class="icon-import"></i> Import All Lists
    </a>
  </div>
</div>
</div>

    <div class="modal__row" >
        <a class="btn  btn-remove"  slide-toggle="#logout"  >
        <i class="icon-sign-out"></i>
             Sign Out
        </a>
        <div class="modal__row__sub slideable" id="logout" >
          <div class=" btn__container ">
            <a href="/api/auth/signout" target="_self" class="btn btn-ok">Ok</a>
            <button class="btn btn-cancel" slide-toggle="#logout">Cancel</a>
          </div>
        </div>
    </div>
</div>
