// BUTTONS

a,.btn, button
	&:focus
		outline: none
		color: $focus-color

.btn-icon
	background: none
	color: #4A5A60
	border-radius: 20px!important
	font-size: 20px
	line-height: 41px
	width: 40px
	height: 40px
	padding: 0
	opacity: 0.2
	text-align: center
	background-color: transparent
	box-shadow: none
	border: none
	transition: background-color 0.1s, opacity 0.1s, color 0.1s, transform 0.1s
	outline: 0
	// transition: transform 0.1s
	backface-visibility: hidden
	-webkit-backface-visibility: hidden
	.icon

	&.active,
	&:hover
		opacity: 1
		box-shadow: none
		transform: scale(1.2)
		.icon
	&:active,
	&:focus
		outline: none!important
		box-shadow: none
		background-color: #f5f5f5
		color: $focus-color
	&:active


$size-btn-create: 38px

.btn-create-list
	position: absolute
	position: fixed
	right: 20px
	bottom: 20px
	background: $sidebar-bg
	color: #fff
	font-weight: bold
	z-index: 99
	text-align: center
	border-radius: $size-btn-create
	width: $size-btn-create
	height: $size-btn-create
	transition: background 0.1s ease
	transition: transform 0.2s ease
	box-shadow: 0 0 60px 20px rgba(255, 255, 255, 0.8),0 0 0px 6px rgba(255, 255, 255, 0.5)
	&:hover,
	&:active,
	&:focus
		color: #fff
		background: darken($sidebar-bg, 55%)
		transform: scale(1.4)
	&:active
		background: #19C9E3

.btn-categories
	// font-size: 26px
	font-size: 32px
	position: absolute
	left: 10px
	top: 17px
	opacity: 1

.ink
	display: block
	position: absolute
	background: rgba(255, 255, 255, 0.2)
	background: rgba(0, 0, 0, 0.05)
	border-radius: 100%
	transform: scale(0)
	z-index: 9
	&.animate
		animation: ripple 0.65s linear

@keyframes ripple
	100%
		opacity: 0
		transform: scale(2.5)
