

// CATEGORY
.category-options
	position: absolute
	top: 20px
	right: $category-padding

.category-title
	font-size: 34px
	height: 64px
	border: none
	box-shadow: none
	width: 100%



// LIST GROUP
.category-divider,
.category-item
	padding-left: $category-padding
	padding-right: 10px
	display: block
	position: relative


.category-divider
	border-top: 1px solid #eee
	&__text
		text-transform: uppercase
		color: #999
		// color: rgb(66, 164, 217)
		margin: 0
		// background: #f9f9f9

		padding-top: 20px
		padding-bottom: 10px
		font-weight: 300
		letter-spacing: 0.05em
	.icon
		font-size: 16px
		font-weight: normal
		position: absolute
		color: #333
		top: 19px
		left: 10px
		opacity: 0.2


	// &:before
	// 	content: "•"
	// 	font-size: 18px
	// 	font-weight: normal
	// 	position: absolute
	// 	color: #333
	// 	top: 12px
	// 	left: 45px
.category-group

.vs-repeat-repeated-element
	width: 100%
	overflow:hidden

$category-item-hover-color: #f6f6f6
$active-category-color: rgb(224, 174, 230)
.category-item
	padding-top: 10px
	min-height: 40px
	background: rgba(255,255,255,0)
	width: 100%
	overflow: hidden
	cursor: pointer
	&--large
		min-height: 55px

	&:hover
		text-decoration: none
		background: $category-item-hover-color
		padding-right: 0
		.icon
			opacity: 1
	&:hover &__title
		color: rgb(66, 164, 217)
		color: #000
	&:hover &__date
		opacity: 0

	&.active
		// background: $active-category-color!important
		background: $focus-color
		background: $category-item-hover-color

	&.active &__title, &.active &__head .icon
		// color: #fff

	&.active &__description
		// color: #fff
		opacity: 0.7

	&.active &__date
		// color: #fff

	&__head
		display: table
		width: 100%

	&__title-container
		display: table-cell
		max-width: $category-width - 100
		min-width: $category-width - 100

	&__title
		color: $title-color
		margin: 0
		font-size: 15px
		text-overflow: ellipsis
		font-weight: 500
		white-space: nowrap
		overflow: hidden
		width: 100%

	&__date
		color: #999
		text-align: right
		display: table-cell
		font-size: 12px
		white-space: nowrap
		transition: color 0.1s ease, opacity 0.1s ease

	&__count
		display: table-cell
		color: #ccc
		font-weight: 300
		display: inline-block
		margin-left: 20px

		border-radius: 10px
		background: #f9f9f9
		padding: 2px 10px

	&__description
		color: #bbb
		margin: 0
		word-break: break-all
		font-size: 13px
		max-height: 20px
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap

	&__options
		display: none
		background: transparent!important
		opacity: 1
		border-radius: 0px!important
		height: 100%
		margin-top: -10px
		height: 35px
		.icon
			position: relative
			width: 40px
	&:hover &__options
		display: table-cell
	&:focus &__options, &:active &__options, &.active &__options
		// background: $active-category-color!important
		color: darken($active-category-color,70%)
	&.active &__options:focus,  &.active &__options:active
		background: transparent
		// background: darken($active-category-color,10%)

.section-category-recent,
.section-category-favorites,
.section-category-categorized,
.section-category-categories
	.category-item
		&__head
			position: relative
			.icon-category,
			.icon-lock
				font-size: 18px
				font-weight: normal
				position: absolute
				color: #333
				top: 0
				left: -30px
				opacity: 0.3
				transition: transform 0.2s ease, opacity 0.2s ease
				&.icon-lock
					font-size: 10px
					left: -18px
					top: 12px
					background: #fff
					width: 15px
					height: 15px
					border-radius: 10px
					text-align: center
					display: inline-block
		&:hover,
		&.active
			.category-item__head
				.icon
					transform: scale(1.5)
					opacity: 1
		&:hover .category-item__head .icon
			&.icon-lock
				background: $category-item-hover-color
		&.active .category-item__head .icon
			&.icon-lock
				// background: $focus-color
				background: $category-item-hover-color

// .section-category-categorized,
// .section-category-categories
// 	.category-item
// 		&__head
// 			.icon-category:before
// 				// font-size: 8px
// 				content: "w"!important
// 			// .icon-lock
// 			// 	font-size: 16px
// 			// 	top: 0px
// 			// 	left: -30px
.emptystate
	padding: 10px 20px
	.btn
		margin: 0
		width: 100%

	// background: #E7EAED
	// padding-right: 10px
	// color: #2E5965
	// border: 14px solid #fff
	// border-radius: 14px
