@charset "UTF-8";

@font-face {
  font-family: "monolie";
  src:url("fonts/monolie.eot");
  src:url("fonts/monolie.eot?#iefix") format("embedded-opentype"),
    url("fonts/monolie.woff") format("woff"),
    url("fonts/monolie.ttf") format("truetype"),
    url("fonts/monolie.svg#monolie") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "monolie" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "monolie" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "a";
}
.icon-c-bear:before {
  content: "b";
}
.icon-c-birthday:before {
  content: "c";
}
.icon-c-book:before {
  content: "d";
}
.icon-c-calendar:before {
  content: "h";
}
.icon-c-cart:before {
  content: "j";
}
.icon-c-checkbox:before {
  content: "k";
}
.icon-c-code:before {
  content: "l";
}
.icon-c-computer:before {
  content: "m";
}
.icon-c-cooking:before {
  content: "n";
}
.icon-c-fox:before {
  content: "p";
}
.icon-c-heart:before {
  content: "q";
}
.icon-c-list:before {
  content: "r";
}

.icon-c-mail:before {
  content: "s";
}
.icon-c-music:before {
  content: "u";
}
.icon-c-newspaper:before {
  content: "v";
}
.icon-c-none:before {
  content: "w";
}
.icon-c-:before {
  content: "w";
}
.icon-c-people:before {
  content: "x";
}
.icon-c-phone:before {
  content: "y";
}
.icon-c-place:before {
  content: "z";
}
.icon-c-question:before {
  content: "A";
}
.icon-c-quote:before {
  content: "B";
}
.icon-c-sheet:before {
  content: "C";
}
.icon-c-stock:before {
  content: "D";
}
.icon-c-suitcase:before {
  content: "E";
}
.icon-c-table:before {
  content: "F";
}
.icon-c-thought:before {
  content: "G";
}
.icon-c-video:before {
  content: "H";
}
.icon-c-world:before {
  content: "I";
}
.icon-categories:before {
  content: "J";
}
.icon-clear:before {
  content: "K";
}
.icon-collapse:before {
  content: "L";
}
.icon-duplicate:before {
  content: "M";
}
.icon-duplicate-b:before {
  content: "N";
}
.icon-edit:before {
  content: "O";
}
.icon-expand:before {
  content: "P";
}
.icon-favorite:before {
  content: "Q";
}
.icon-fullscreen:before {
  content: "R";
}
.icon-left:before {
  content: "S";
}
.icon-lists:before {
  content: "T";
}
.icon-lock:before {
  content: "U";
}
.icon-mode-columns:before {
  content: "V";
}
.icon-mode-list:before {
  content: "W";
}
.icon-mode-slideshow:before {
  content: "X";
}
.icon-mode-slideshow-b:before {
  content: "Y";
}
.icon-mode-todo:before {
  content: "Z";
}
.icon-options:before {
  content: "0";
}
.icon-options-b:before {
  content: "1";
}
.icon-password:before {
  content: "2";
}
.icon-profile:before {
  content: "3";
}
.icon-public:before {
  content: "4";
}
.icon-recent:before {
  content: "5";
}
.icon-remove:before {
  content: "6";
}
.icon-remove-b:before {
  content: "7";
}
.icon-right:before {
  content: "8";
}
.icon-search:before {
  content: "9";
}
.icon-shortcuts:before {
  content: "!";
}
.icon-sign-out:before {
  content: "\"";
}
.icon-tag-date:before {
  content: "#";
}
.icon-tag-hour:before {
  content: "$";
}
.icon-tag-rating:before {
  content: "%";
}
.icon-tags:before {
  content: "&";
}
.icon-trash:before {
  content: "'";
}
.icon-c-bug:before {
  content: "e";
}
.icon-c-bulb:before {
  content: "f";
}
.icon-c-female:before {
  content: "g";
}
.icon-c-male:before {
  content: "i";
}
.icon-export:before {
  content: "(";
}
.icon-import:before {
  content: ")";
}
.icon-c-brain:before {
  content: "*";
}
.icon-c-car:before {
  content: "+";
}
