::-webkit-input-placeholder
	// font-style: italic
::-moz-placeholder
	// font-style: italic

textarea
	resize: none


// placeholders for contenteditables
[contenteditable]:empty:before
	content: attr(placeholder)
	display: block /* For Firefox */
	color: #bbbbbb
	position: absolute

$lists-padding: 60px
.list-title
	font-size: 32px
	height: 36px
	line-height: 1
	border: none
	box-shadow: none
	width: 100%
	display: inline-block
	padding: 0px 0
	margin-top: 20px
	border-bottom: 1px solid transparent
	color: $title-color
	transition: color 0.2s
	background: transparent

	&:focus
		outline: none
		border-bottom: 1px solid #eee
		color: $focus-color
.list-description
	width: 100%
	background: transparent
	color: #8D9BA0
	opacity: 0
	transition: opacity 0.2s ease 1s
	&--visible
		transition: opacity 0.2s ease
		opacity: 1
	&:focus
		color: $focus-color
		outline: none

// GENERAL LIST ITEM
.list-item
	border-top: 1px solid #f9f9f9
	padding-left: $lists-padding
	padding-right: $lists-padding
	position: relative
	// background: #fff
	&:last-child
		margin-bottom: 100px

	&__header
		cursor: text
	&__title
		height: 26px
	&__tags
		text-align: right
		&:hover
			.tag
				opacity: 0.5
	// TAGS
	.tag
		display: inline-block
		padding: 2px 8px
		margin-left: 3px
		margin-bottom: 3px
		position: relative
		font-weight: 400
		transition: opacity 0.2s
		white-space: nowrap
		font-size: 15px
		text-overflow: ellipsis
		max-width: 300px
		// text-transform: uppercase
		cursor: pointer
		text-align: left
		transition: transform 0.1s, padding-right  0.1s, opacity 0.1s
		color: #64717E
		background: #eee
		border-radius: 15px
		&:first-child
			// padding-left: 0px
			margin-left: 0
		&.hover:hover
			border-radius: 15px 0 0 15px
			opacity: 1!important
			z-index: 99
			transform: scale(1.1) translate(0px,0px)
			// transform: scale(1.1)
			// transform: translate(18px,0px)
			// padding-right: 28px
			.tag__remove
				right: -15px
				transition: right 0.2s

		&__remove
			transition: right 0.2s ease 0.2s
			right: -15px
			height: 100%
			font-size: 16px
			background: none
			position: absolute
			top: 0
			padding-top: 4px
			padding-left: 0
			display: inline-block
			background: #eee
			border: none
			border-radius: 0 15px 15px 0

		&:empty
			&:after
				content: "-"
				opacity: 0.3
		&-date
			color: #51B3E8
			background: #89C9EB
			color: #fff
			.tag__remove
				background: #89C9EB
		&-time
			// color: #64717E
			color: #51B3E8
			background: darken(#89C9EB,10%)
			color: #fff
			.tag__remove
				background: darken(#89C9EB,10%)
		&-number
			// font-size: 22px
			color: #F6AD24
			color: #ED8729
			color: #fff
			background: #F6AD24
			.tag__remove
				background: #F6AD24

	// DRAG HANDLE
	.handle
		position: absolute
		display: block
		left: 0px
		top: 0px
		width: $lists-padding - 10
		height: 100%
		cursor: -webkit-grab
		cursor: -moz-grab
		cursor: grab
		&:hover
			// background: #fbfbfb
			// background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHUlEQVQIW2NkwAIY8Qru3r37v6urK1gRfpXIxgAA0GQEBjPqTnoAAAAASUVORK5CYII=") repeat
			background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAGUlEQVQIW2NkQAOMOAXu3r37X1lZmRFDBQBdRgQF2gOtSAAAAABJRU5ErkJggg==") repeat

	// CHECKBOX
	.checkbox
		position: absolute
		left: 20px
		top: 10px
		&:after
			content: ''
			position: absolute
			width: 30px
			height: 30px
			left: -5px
			top: -5px

		// NUMBERED
		// font-style: italic
		// numbered
		// font-style: italic

	// DIVIDER
	&.divider
		padding-top: 15px
		padding-bottom: 15px
		border-top: 1px solid #eee
		padding-top: 5px
		padding-bottom: 5px
		margin: 13px 0
		.input-title
			font-family: sans-serif
			// font-size: 12px
			font-size: 22px
			line-height: 28px
			// text-transform: uppercase
			color: #999!important
			color: #474747!important
			font-weight: normal
			background: transparent!important
		// .input-content
		// 	display: none

	// STATES
	&.focus, &:hover
		.counter
			color: #ccc
		&:before

			height: 100%
			width: 2px
			position: absolute
			top: 0
			left: 0px
			content: ""
		.input-content::-webkit-input-placeholder
			/* WebKit browsers */
			color: #ccc!important
			// border-left: 2px solid #eee


// DRAG STATE
.angular-ui-tree-drag
	.list-item
		width: 100%
		min-height: 40px
		background-color: #f9f9f9
		box-shadow: 10px 10px 30px rgba(0,0,0,0.1)
		&__tags
			display: none

		.handle
			cursor: -moz-grabbing
			cursor: -webkit-grabbing
			cursor: grabbing
			// numbered
			// font-style: italic
			&:after
				display: none
	.list-subitem .checkbox
		display: none

// INPUTS
.input-title,
.input-content
	border: none
	background: transparent
	&:focus
		outline: none


div
	&.input-title,
	&.input-content
		&:empty
			&:after
				// content: '...'
		&:focus
			&:after
				content: ''
.input-title
	transition: font-size 0.15s, color 0.15s, margin 0.15s, line-height 0.15s
	font-weight: bold
	border: none
	width: 100%
	resize: none
	padding: 10px 0 0 0
	font-size: 16px
	box-shadow: none
	line-height: 18px
	word-break: break-word
	&-div
		white-space: pre-wrap
	&:focus
		color: $focus-color
.input-content
	border: none
	width: 100%
	font-weight: 300
	color: #777
	box-shadow: none
	padding: 0
	resize: none
	height: 20px
	margin-bottom: 0px
	word-break: break-word
	&-div
		height: auto
		white-space: pre-wrap
	&:focus
		color: $focus-color

.list-subitem
	position: relative
	margin: 2px 0 6px 0

	&.code
		font-family: monospace
		background: #f5f5f5
		padding: 5px 10px
		line-height: 20px
		font-size: 14px
		margin: 5px 0
	&.quote
		font-style: italic
		font-family: Georgia
		font-size: 16px
		padding: 10px 0
		margin: 5px 0
	&.divider
		.input-content
			font-weight: bold
			// color: #919191
			color: #464646
			// font-size: 11px
			font-size: 12px
			text-decoration: none!important

			// text-transform: uppercase

			// color: #333333
			// font-size: 14px
			// text-transform: uppercase
			// letter-spacing: 0.12em
	&.link
		height: 20px!important
		a
			display: inline-block
			// height: 20px!important
			text-overflow: ellipsis
			line-height: 20px
			letter-spacing: -0.02em
			font-weight: normal
			word-break: break-word
			text-overflow: ellipsis
			white-space: nowrap
			overflow: hidden
		.input-content
			display: none
		.btn-edit-link
			position: absolute
			top: -5px
			font-size: 12px

		// color: $link-color!important
		// text-decoration: underline
		// cursor: pointer
		// width: auto
		// display: none
		// white-space: nowrap
		// padding-right: 0
		// &:hover, &:focus
		// 	color: darken($link-color,20%)!important
		// &:after // force linebreak
		// 	content: "\A"
		// 	white-space: pre
	&.link-editing
		.input-content
			text-decoration: underline
			height: 20px!important
			line-height: 20px!important

		.btn-edit-link
			display: none
		a
			display: none



.list-container
	counter-reset: item 0




// LIST MODES
// DEFAULT
.listmode-default
	.list-item
		&__header
			display: table
			width: 100%
		&__title
			display: table-cell
		&__tags
			display: table-cell
			width: 1%
			white-space: nowrap
			vertical-align: top
			padding-top: 10px
		.input-title
			font-family: Georgia
			font-weight: 500
			font-size: 17px
			line-height: 24px
		// .input-description
			// transition: font-size 0.15s, color 0.15s, margin 0.15s, line-height 0.15s
			// color: rgb(107, 115, 123)

		&.divider
			border-bottom: none
			border-top: 1px solid #eee!important
			.input-title
				font-family: Helvetica, sans-serif
				font-size: 16px
				color: #373C42!important
				font-weight: 600
				margin: 0
				// text-transform: uppercase


		// NUMBERS
		// &:before
		// 	counter-increment: item 1
		// 	content: counter(item)
		// 	position: absolute
		// 	left: 20px
		// 	top: 10px
		// 	font-size: 30px
		// 	font-weight: normal
		// 	color: #eee
		// 	-webkit-pointer-events: none
		// 	pointer-events: none
		// 	-webkit-user-select: none
		// 	-moz-user-select: none
		// 	user-select: none
		// &.divider
		// 	counter-reset: item 0

		// 	&:before
		// 		opacity: 0
		// 		display: none


// COLUMNS
.listmode-columns
	.list-item
		border-top: 1px solid #eee
		padding-bottom: 15px
		.tag
			margin-top: 10px
			// padding: 0px 10px 0 0px
		&.divider
			padding-bottom: 0
			border-bottom: none
			border-top: none
			padding-top: 0
			margin-top: 10px
			.input-title
				padding: 0
				margin-bottom: 8px
				margin-top: 12px
				font-weight: bold
				font-size: 17px
			.col-xs-4
				width: 100%
	.input-title
		font-family: Georgia
		font-weight: 500
		font-size: 17px
		line-height: 24px
	.list-subitem
		&:first-child
			border-top: none
			margin-top: 10px


// TODOS
.listmode-todo
	.input-content
		border-top: 1px solid #f9f9f9
		margin-bottom: 2px
	.input-title
		font-size: 16px
		margin-bottom: 8px
	.list-item
		&__header
			display: table
			width: 100%
		&__title
			display: table-cell
		&__tags
			display: table-cell
			width: 1%
			white-space: nowrap
			vertical-align: top
			padding-top: 10px
		&.divider
			.input-title
				font-size: 20px
	.list-subitem
		&.done
			.input-content
				text-decoration: line-through
		&.divider
			.checkbox
				display: none
		.checkbox
			top: 0
			left: -40px
	.done .input-title
		color: #999

// SLIDESHOW
.section-list
	transition: background 0.2s
	min-height: 100%
// LOCKED
.locked
	.list-title:focus
		color: $title-color!important
	.input-title:focus
		color: $title-color!important
	.input-content:focus
		color: #8D9BA0!important
	.list-description:focus
		color: #8D9BA0!important


.column-inner--2
	overflow-x: hidden!important
.listmode-slideshow
	.slideshow-container
		min-height: 400px
		display: block
		overflow: visible
	.slideshow-item
		min-height: 300px
		background: #fff
		border-radius: 7px
		margin: 0 60px
		box-shadow: 0 0 10px rgba(0,0,0,0.1)
		text-align: center
		transition: background-color 0.1s
		&__title
			padding: 40px 20px
			font-size: 52px
			line-height: 60px
			font-weight: 200
			color: #6B7780
			margin: 0
			text-align: center
			border: none
			width: 100%
			background: transparent
			&:empty
				padding-left: 50%
			// background: #fff
			// border-radius 7px 7px 0 0
			&:focus
				outline: none
				color: $focus-color
		&__content
			border-top: 1px dotted #e0e0e0
			background: #fff
			padding: 20px 10px
			text-align: center
			&:empty
				padding-left: 50%
		&--divider
			background: #6B7780
			.slideshow-item__title
				color: #fff
			.slideshow-item__content
				border-top: 1px solid lighten(#6B7780, 10%)
				color: #fff
				background: transparent
		&--divider &__content
			color: #fff
			border-top: 1px solid lighten(#6B7780, 10%)


// ARROWS
.rn-carousel-control
	top: 240pxr
	&.rn-carousel-control-prev,
	&.rn-carousel-control-next
		&:before
			font-family: "monolie"!important
			font-size: 27px
		opacity: 0.4
		cursor: pointer
		&:hover, &:active, &:focus
			opacity: 1
	&.rn-carousel-control-prev:before
		content: "S"!important
	&.rn-carousel-control-next:before
		content: "8"!important

// STILL USED NOT NICE
.list-item-options-container
	position: absolute
	top: 2px
	right: 10px
.list-item-options__dropdown-menu
	left: auto
	right: 0

.section-category,
.section-list
	counter-reset: section
	// padding: 10px 0px
	&__header
		position: relative
		display: table
		width: 100%
		padding-left: $lists-padding
		// position: fixed
		// top: 0
		// left: 0
		&__inputs
			display: table-cell

		&__options
			padding-top: 20px
			display: table-cell
			vertical-align: top
			text-align: right


.section-category
	padding-top: 50px

	&__header
		padding-left: $category-padding
		transition: background-color 0.2s
		// position: absolute
		// z-index: 99
		// top: 0
		// background: #fff
		&--searching
			background: rgba(231, 234, 237, 0.39)
		&__inputs
			padding-top: 10px

.btn-lists-options
	position: absolute
	right: 10px
	top: 10px


.vs-repeat-repeated-element
	overflow: hidden
