
#loading-bar-spinner
	pointer-events: none
	-webkit-pointer-events: none
	-webkit-transition: 350ms linear all
	-moz-transition: 350ms linear all
	-o-transition: 350ms linear all
	transition: 350ms linear all


#loading-bar-spinner
	&.ng-enter, &.ng-leave.ng-leave-active
		opacity: 0


#loading-bar-spinner
	&.ng-enter.ng-enter-active, &.ng-leave
		opacity: 1



/* Fancy blur effect */
#loading-bar-spinner
	display: block
	position: fixed
	z-index: 10002
	top: 10px
	left: 12px
	background: transparent
	.spinner-icon
		background: transparent
		width: 16px
		height: 16px
		border: solid 2px transparent
		border-top-color: $navbar-color
		border-left-color: $navbar-color
		border-radius: 10px
		-webkit-animation: loading-bar-spinner 400ms linear infinite
		-moz-animation: loading-bar-spinner 400ms linear infinite
		-ms-animation: loading-bar-spinner 400ms linear infinite
		-o-animation: loading-bar-spinner 400ms linear infinite
		animation: loading-bar-spinner 400ms linear infinite

// .pace
// 	-webkit-pointer-events: none
// 	pointer-events: none
// 	-webkit-user-select: none
// 	-moz-user-select: none
// 	user-select: none

// .pace-inactive
// 	display: none

// .pace
// 	.pace-activity
// 		opacity: 0.3
// 		display: block
// 		position: fixed
// 		z-index: 2000
// 		top: 40px
// 		left: 15px
// 		width: 14px
// 		height: 14px
// 		border: solid 2px transparent
// 		border-top-color: $nav-color
// 		border-left-color: $nav-color
// 		border-radius: 10px
// 		-webkit-animation: loading-bar-spinner 400ms linear infinite
// 		-moz-animation: loading-bar-spinner 400ms linear infinite
// 		-ms-animation: loading-bar-spinner 400ms linear infinite
// 		-o-animation: loading-bar-spinner 400ms linear infinite
// 		animation: loading-bar-spinner 400ms linear infinite

@-webkit-keyframes loading-bar-spinner
	0%
		-webkit-transform: rotate(0deg)
		transform: rotate(0deg)
	100%
		-webkit-transform: rotate(360deg)
		transform: rotate(360deg)


@-moz-keyframes loading-bar-spinner
	0%
		-moz-transform: rotate(0deg)
		transform: rotate(0deg)
	100%
		-moz-transform: rotate(360deg)
		transform: rotate(360deg)


@-o-keyframes loading-bar-spinner
	0%
		-o-transform: rotate(0deg)
		transform: rotate(0deg)
	100%
		-o-transform: rotate(360deg)
		transform: rotate(360deg)


@-ms-keyframes loading-bar-spinner
	0%
		-ms-transform: rotate(0deg)
		transform: rotate(0deg)
	100%
		-ms-transform: rotate(360deg)
		transform: rotate(360deg)


@keyframes loading-bar-spinner
	0%
		transform: rotate(0deg)
		transform: rotate(0deg)
	100%
		transform: rotate(360deg)
		transform: rotate(360deg)
