// // MODALS
$padding-y: 15px
$padding-left: 70px
$modal-title-padding: 20px
.modal
	&__above
		text-align: center
		color: #576067
	&__below
		margin-top: 10px
		a
			margin-right: 10px
			font-size: 18px
			padding: 5px
			display: inline-block
	&__header
		text-align: center
	&__divider,
	&__title
		font-weight: 300
		text-transform: uppercase
		letter-spacing: 0.1em
		color: #bbb
		padding: $modal-title-padding
		margin: 0
		// padding-left: $padding-left
	&__subtitle
		// padding-left: $padding-left
		color: #bbb
		margin-top: -10px
	&__divider
		padding:  $modal-title-padding/2 $modal-title-padding

	.close
		font-size: 30px
		position: absolute
		top: $modal-title-padding/2
		right: $modal-title-padding
	&__row
		position: relative
		overflow: hidden
		padding: 0
		border-top: 1px solid #eee
		&__sub
			position: relative
			background: #f9f9f9
		// &--collapsed
		// 	.modal__row__sub
		// 		display: none
		// 	.btn
		// 		i.icon-collapse
		// 			transform: rotate(90deg)!important
	&--login &-dialog
		max-width: 400px
	textarea
		width: 100%
		border: none
		position: relative

		&.textarea-markdown
			min-height: 300px
			padding: 10px
			font-family: monospace

	label
		opacity: 0
		font-size: 11px
		position: absolute
		// left: $padding-left
		left: 15px
		top: 0
		margin-top: 7px
		font-weight: normal
		color: #999
		z-index: 99
	input[type="file"]
		visibility: hidden
		padding: 0
		margin: 0
		width: 0px
		height: 0px
	input[type="text"],
	input[type="password"],
	input[type="submit"],
	input[type="email"],
	.btn
		width: 100%
		padding: $padding-y
		background: none
		font-size: 20px
		border: none
		position: relative
		// padding-left: $padding-left
		color: #444
	.btn
		padding-left: $padding-left

	input[type="text"],
	input[type="password"],
	input[type="submit"],
	input[type="email"]
		border-bottom: 1px solid #eee
		padding-top: $padding-y +3
		padding-bottom: $padding-y -3
		&:last-child
			border-bottom: none
		&:focus
			background: #fff
			outline: 0
			color: $focus-color

	.btn
		&.btn-icon
			width: auto
			display: inline-block
			height: 60px
		&.btn-icon-only

			border-radius: 0!important
			height: 55px
			width: 60px
			padding: 5px
			transition: transform 0.2s
			.icon
				width: 100%
				font-size: 38px
			&:hover
			&:active, &.active
				transform: scale(1.2)
				color: #000
				background: none

		border-radius: 0
		text-align: left



		i
			transition: transform 0.2s
			position: absolute
			left: 0
			width: $padding-left
			text-align: center
			font-size: 22px
			&.icon-collapse
				right: 0
				left: auto
				opacity: 0.2
				font-size: 16px
		&.slideable-collapsed
			font-weight: bold
			color: #222
			background: #fff!important
			border-bottom: 1px solid #eee

			i.icon-collapse
				transform: rotate(180deg)!important
		// &.active
		// 	font-weight: bold
		&:hover
			background: #f9f9f9
			i
				transform: scale(1.2)
		&:active, &:focus, &.active
			.icon
				transform: scale(1.2)
			box-shadow: none!important
			// color: #222
			color: #fff
			background: $focus-color
			.icon-marker
				&:before
					transform: scale(2.0)

		&-switch
			$switch-size: 23px
			//SWITCH
			.switch
				cursor: pointer
				position: absolute
				right: 10px
				top: $padding-y +5
				display: block
				width: $switch-size * 2
				height: $switch-size
				background-color: #fff
				border: 1px solid #ccc
				border-radius: 999px
				transition: background-color 200ms ease, border 200ms ease
			//SWITCH HANDLE
			.switch-handle
				position: absolute
				top: -1px
				left: -1px
				z-index: 2
				width: $switch-size
				height: $switch-size
				background-color: #fff
				border: 1px solid #ccc
				border-radius: 999px
				transition: transform 200ms ease, background-color 200ms ease
			&.active, &:focus
				background: none
				color: #333
				.switch
					background-color: $focus-color
					border-color: $focus-color
				.switch-handle
					border-color: $focus-color
					transform: translate($switch-size,0)
.btn
	&__container
		padding-left: 15px
		text-align: left
		border-radius: 0 0 5px 5px
		background: #fff
		.btn
			display: inline-block
			width: auto
			padding: 10px 20px
			margin: 10px 5px
			border-radius: 10px
			i
				margin-right: 5px
				transform: translateY(2px)
				display: inline-block
			&:first-child
				// margin-left: -20px
			&-primary,
			&-ok
				color: #4A90E2
				color: #fff
				background: $focus-color
				&:hover
					background: darken( $focus-color ,10%)
				&:focus
					color: #fff
			&-cancel
				color: rgb(127, 132, 135)
				&:hover
					color: darken(rgb(127, 132, 135),10%)


.modal
	.datepicker
		.btn
			padding-left: 15px
			text-align: center
			&.active
				background: $focus-color
				color: #fff
		table
			width: 100%


.modal
	.text-message
		padding-left: $padding-left
		padding-bottom: 10px
		padding-top: 10px
		display: block
		font-weight: normal
		font-size: 14px
		color: #FFFFFF
	.text-success
		background: #659C6C
	.text-error
		// background: red
		background: rgb(244, 87, 87)
.modal
	.profile-image__container
		display: inline-block
		margin: auto
		border-radius: 50%
		text-align: center
		margin: 30px 0
		position: relative
		overflow: hidden
		height: 80px
		width: 80px
		transition: transform 0.2s ease
		-webkit-backface-visibility: hidden
		&:hover
			transform: scale(1.2)
		.profile-image__image
			height: 100%
			width: 100%
		.profile-image__button
			position: absolute
			top: 0
			line-height: 80px
			width: 100%
			padding: 0
			text-align: center
			color: #fff
			font-size: 11px
			font-weight: bold
			border-radius: 50%

			height: 100%
			opacity: 0
			left: 0
			background-color: rgba(66,66,255,0.3)
			transition: opacity 0.2s ease
			&:hover
				opacity: 1

	.input-container
		position: relative
		border-bottom: 1px solid #eee
// 	select
// 		width: 100%
// 		line-height: 50px
// 		font-size: 17px
// 		height: 50px
// 		border: 1px solid #eee
// .modal-dialog
// 	// width: 100%
// 	// margin:
// 	height: 600px

// .modal-header,
// .modal-body
// 	.row > div
// 		// @include make-md-column(8)
// 		// @include make-md-column-offset(2)
.modal.fade
	.modal-dialog
		transition: opacity 0.1s ease, transform 0.1s ease
		transform: translate(0, -20px)
	&.in .modal-dialog
		transform: translate(0, 0px)

.modal-content
	box-shadow: none!important
	// box-shadow: 0 0 40px rgba(0,0,0,0.1)!important
	border: none
	width: 100%
	border-radius: 4px
	// height: 1600px
.modal-backdrop
	height: 100%!important
	position: fixed
	background: #eee
	background: #525A5E
	&.in
		opacity: 0.5
.notLoggedIn .modal-backdrop.in
	background: $sidebar-bg
	opacity: 0.9
.modal-open
	overflow-x: hidden!important
	overflow-y: hidden!important
	// padding-right: 15px

input ~ label
	opacity: 1!important
