
.column-container
	.text
		transition: opacity 0.2s ease
	.column-content
		transition: padding-left 0.2s ease
	.column-menu
		transition: width 0.2s ease

	.navbar-user
		overflow-x: hidden
		.header-profile-image
			transition: width 0.2s ease, height 0.2s ease
	.navbar__body
		overflow-x: hidden
	.navbar-brand
		overflow-x: hidden
	&.minimode
		.nav-sub > li a,
		.navbar-user a
			text-overflow: unset
		.text
			opacity: 0
		.column-content
			padding-left: $sidebar-width-collapsed
		.column-menu
			width: $sidebar-width-collapsed
		.nav-sub, .nav-main
			// .text
				// opacity: 0
		// .navbar__body
			// overflow-x: hidden
		.navbar-brand
			// overflow-x: hidden
			// .text
				// opacity: 0
			.icon
				opacity: 0.2
		.navbar-user
			// overflow-x: hidden
			.header-profile-image
				width: 20px
				height: 20px
			// &__link
			// 	.text
					// opacity: 0
					// display: none

		// .nav-sub li a i, .nav-main li a i
		// 	font-size: 18px
