$sidebar-header-height: 40px
$sidebar-footer-height: 55px
$sidebar-footer-height-expanded: 140px
.navbar

	position: relative
	height: 100%
	&__inner
		height: 100%
		padding-top: $sidebar-header-height
		padding-bottom: $sidebar-footer-height
		transition: padding-bottom 0.2s ease
	&__body
		overflow: auto
		height: 100%
	&__header,
	&__footer
		position: absolute
		left: 	0px
		width: 100%
	&__header
		top: 0px
		height: $sidebar-header-height
	&__footer
		background: darken($sidebar-bg,2%)
		transition: height 0.2s ease
		height: $sidebar-footer-height
		bottom: 0px
	&.userExpanded
		.navbar__inner
			padding-bottom: $sidebar-footer-height-expanded
		.navbar__footer
			height: $sidebar-footer-height-expanded

.navbar-header
	width: 100%
	clear: both

$navbar-margin-left: 46px
.navbar-brand
	margin-left: 0
	padding: 10px $navbar-margin-left
	width: 100%
	float: none
	display: block
	color: #555
	color: #5B6772
	&:hover,
	&:focus,
	&:active
		text-decoration: none
		color: #5B6772
		.icon
			opacity: 1
			transform: scale(1.2)
	.icon
		transition: opacity 0.2s, transform 0.2s
		position: absolute
		top: 8px
		top: 12px
		left: 16px
		opacity: 0
		color: $navbar-color-active

// USER
.navbar-user
	width: 100%
	padding: 10px
	a
		color: #999
		white-space: nowrap
		overflow: hidden
		width: 100%
		text-overflow: ellipsis
		display: inline-block
	&__link
		i
			position: absolute
			right: 10px
			top: 20px
			opacity: 0.2

	// &__submenu
	// 	padding: 0 0 30px 0!important
	// 	li
	// 		display: block
	// 		padding: 5px 0

.header-profile-image
	opacity: 0.8
	height: 38px
	width: 38px
	border-radius: 50%
	margin-right: 0
	margin-right: 10px

.open .header-profile-image,
a:hover .header-profile-image
	opacity: 1


.user-header-dropdown-toggle
	padding-top: 11px !important
	padding-bottom: 11px !important



.nav-sub, .nav-main
	// display: block
	padding: 0
	float: left
	width: 100%
	margin: 0
	li
		width: 100%
		display: block
		float: left
		overflow: hidden
		position: relative
		a
			padding: 5px 0
			font-size: 14px
			color: #aaa
			color: $navbar-color
			display: block
			position: relative
			i
				font-size: 16px
				transition: transform 0.2s

			&:hover,
			&:focus,
			&:active,
			&.active
				color: $navbar-color-active
				text-decoration: none
				i
					opacity: 1
					transform: scale(1.4)
			&:active i
				transform: scale(1.2)
				transition: transform 0.2s

			&.active
				font-weight: bold

		// &.active a,
		// a.active
		// 	color: $navbar-color-active
			// &:after
			// 	content: ""
			// 	position: absolute
			// 	right: -10px
			// 	top: 0
			// 	width: 0
			// 	height: 0
			// 	border-style: solid
			// 	border-width: 15px 0 15px 10px
			// 	border-color: transparent transparent transparent $sidebar-bg
.nav-main
	&__item
		a
			height: 34px
			padding-left: $navbar-margin-left!important
			font-weight: bold
			i
				position: absolute
				top: 8px
				left: 14px
				font-size: 15px
				opacity: 0.35
				color: $navbar-color-active
				&.icon-collapse
					left: auto
					right: 10px
		&.collapsed
			a
				i.icon-collapse

					transform: rotate(90deg)

.nav-sub
	// overflow: auto
	margin-top: 2pxFF
	// height: 500px
	> li
		a
			height: 25px
			white-space: nowrap
			text-overflow: ellipsis
			padding: 3px 0
			padding-left: $navbar-margin-left

			overflow: hidden
			font-weight: 300
			font-size: 14px
			i
				position: absolute
				left: 14px
			&.add
				margin-top: 5px
				font-weight: normal
				color: darken(#A2A7AB,20%)
				&:hover,
				&:focus,
				&:active
					color: #333
				i
					font-size: 11px
					top: 4px
					left: 14px

				&:before
					display: none



// 	height: 25px
// 	transition: height 0.0s ease 0.8s


		// 	&:before
		// 		content: "•"
		// 		font-size: 16px
		// 		font-weight: normal
		// 		position: absolute
		// 		color: #333
		// 		top: 0px
		// 		left: -20px
		// @for $i from 1 through length($colors)
		// 	&.marker_#{$i - 1} a:before
		// 		color:  nth($colors, $i)
