<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{title}}</title>

	<!-- General META -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<base href="/">

	<!-- Responsive META -->
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">

	<!-- Semantic META -->
	<meta name="keywords" content="{{keywords}}">
	<meta name="description" content="{{description}}">



	<!-- Fav Icon -->
	<link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">

	<!--Application CSS Files-->
	{% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}

	<!-- HTML5 Shim -->
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<!-- <link href="https://fontastic.s3.amazonaws.com/epPn4rUFpfyAaE3a8QoetS/icons.css" rel="stylesheet"> -->
</head>

<body class="ng-cloak" data-ng-controller="CoreController" >
	<div class="column-container fade" ng-class="{minimode: $storage.miniMode  == true, in: !authentication.user || ($rootScope.categoriesLoaded && $rootScope.listsLoaded ), notLoggedIn: !authentication.user}">
		<section class="column-menu" data-ng-include="'/modules/core/views/header.client.view.html'"></section>
		{% block content %}{% endblock %}
	</div>
	<!--Embedding The User Object-->
	<script type="text/javascript">
		var user = {{ user | json | safe }};
	</script>

	<!--Load The Socket.io File-->
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>

	<!--Application JavaScript Files-->
	{% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}

	{% if process.env.NODE_ENV === 'development' %}
	<!--Livereload script rendered -->
	<script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
	{% endif %}

	<!-- Google Analytics -->
	<script>
		// (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		// 	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		// 		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		// })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		//
		// ga('create', '{{googleAnalyticsTrackingID}}', 'auto');
		// ga('send', 'pageview');
	</script>
</body>

</html>
