@import includes/variables
@import includes/bootstrap

@import includes/buttons
@import includes/icons
@import includes/modals
@import includes/navbar

@import includes/categories
@import includes/lists
@import includes/loader

@import includes/mode-layout



.icon-marker
	position: relative
	&:before
		content: "•"
		font-size: 28px
		font-weight: normal
		position: absolute
		color: #333
		top: -8px
		left: 15px


html, body
	overflow:auto
	height: 100%

body
	overflow-x: hidden
	overflow-y: hidden
	width: 100%
	height: 100%
	position: relative
	// -webkit-user-select: none  /* Chrome all / Safari all */
	// -moz-user-select: none     /* Firefox all */
	// -ms-user-select: none      /* IE 10+ */
	//
	// /* No support for these yet, use at own risk */
	// -o-user-select: none
	// // user-select: none

// ::-webkit-scrollbar
// 	width: 9px
//
// ::-webkit-scrollbar-track
// 	-webkit-border-radius: 5px
// 	border-radius: 5px
// 	background: rgba(0, 0, 0, 0.1)
//
// ::-webkit-scrollbar-thumb
// 	-webkit-border-radius: 5px
// 	border-radius: 5px
// 	background: rgba(0, 0, 0, 0.2)
// 	&:hover
// 		background: rgba(0, 0, 0, 0.4)
// 	&:window-inactive
// 		background: rgba(0, 0, 0, 0.05)


.tooltip
	// text-transform: uppercase
// .content
// 	.container-fluid

.column-container
	width: 100%
	height: 100%!important
	// __transform: translateX(-33.333333%)
	// __width: 300%
	//
	// collapsed navbar


.column-content
	height: 100%
	padding-left: $sidebar-width
	padding-right: 0
	overflow: hidden
	&__inner
		display: table
		width: 100%
		height: 100%


.column-menu
	position: fixed
	left: 0
	height: 100%
	width: $sidebar-width
	border-radius: 0
	background: $sidebar-bg
	// overflow: auto
	box-shadow: inset -2px 0 10px rgba(0,0,0,0.03)


.column-lists,
.column-detail
	min-height: 100%
	display: table-cell
	position: relative
	width: auto
	vertical-align: top
	// __width: 33.333333%!important
.column-lists
	min-width: $category-width+9
	width: $category-width+9
	max-width: $category-width+9
	border-right: 1px solid #eee
	// background: #faf9fb
	// background: #fff
	transition: background 0.2s ease
	box-shadow: inset -2px 0 10px rgba(0, 0, 0, 0.02)
.minimode .column-lists
	// background: lighten($sidebar-bg,5%)
	// .column-inner
	// 	padding-top: 35px
.column-detail
	box-shadow: -2px 0 10px rgba(0,0,0,0.03)
	.column-inner
		overflow-y: scroll


.column-inner
	width: 100%
	height: 100%
	margin: 0
	padding: 0
	overflow: auto
	-webkit-overflow-scrolling: touch
	position: relative
	// background: #fff
	&.fullscreen
		position: fixed
		background: #fff
		z-index: 99
		width: 100%
		height: 100%
		left: 0
		.section-list
			max-width: 1000px
			margin: auto
		.section-list__header__options
			position: fixed
			right: 0px
			top: 0px
	&--2
		background: #E6E9EC!important


.column-emptystate
	width: 100%
	height: 100%
	font-size: 40px
	color: #eee
	display: table
	text-align: center
	position: absolute
	top: 50%
	margin-top: -60px

// DROPDOWNS
// .dropdown-markers,
// .dropdown-categories
	// position: absolute
	// left: 20px
	// top: 15px
// .dropdown-markers
// 	left: 20px
// 	top: 10px
// 	li
// 		a

// .dropdown-toggle-markers,
// .dropdown-toggle-categories
// 	width: 40px
// 	height: 30px
// 	line-height: 40px
// 	background: none
// 	border: none
// 	box-shadow: none
// 	opacity: 0.8
// 	&:before
// 		content: "•"
// 		font-size: 50px
// 	&:hover
// 		opacity: 1


// .dropdown-menu-markers,
// .dropdown-menu-categories
// 	li
// 		a
// 			position: relative
// 			padding-left: 45px
// 			&:before
// 				content: "•"
// 				font-size: 28px
// 				font-weight: normal
// 				position: absolute
// 				color: #333
// 				top: -8px
// 				left: 15px
// 		@for $i from 1 through length($colors)
// 			&.marker_#{$i - 1} a:before
// 				color:	nth($colors, $i)
// 		&.item-checkbox
// 			padding-left: 15px
// 			input[type="checkbox"]
// 				margin: 4px 15px 0 0
// .dropdown-menu-markers
// 	min-width: 40px
// 	// width: 300px
// 	li
// 		display: inline-block
// 		a
// 			height: 20px
// 			width: 40px
// 			text-align: center
// 			padding-left: 0

// 			&:before
// 				top: -8px
// 				left: 12px



// LAYOUT
// PAGE HEADER
.page-header
	border-bottom: none
	position: relative
	&__

.search
	width: 100%
	line-height: 40px
	height: 40px
	border: 1px solid transparent
	font-size: 19px
	padding: 0px
	margin: 10px 0
	background: transparent
	font-weight: 300
	&:focus
		color: $focus-color
		outline: none




// .undecorated-link:hover
// 	text-decoration: none

// [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak
// 	display: none !important

// .ng-invalid.ng-dirt
// 	border-color: #FA787E

// .ng-valid.ng-dirt
// 	border-color: #78FA89







// // DECKGRID
// // not used yet
// .deckgrid[deckgrid]::before
// 	/* Specifies that the grid should have a maximum of 4 columns. Each column will have the classes 'column' and 'column-1-4' */
// 	content: '4 .column.column-1-4'
// 	font-size: 0 /* See https://github.com/akoenig/angular-deckgrid/issues/14#issuecomment-35728861 */
// 	visibility: hidden

// .deckgrid .column
// 	float: left

// .deckgrid .column-1-4
// 	width: 25%
