<div class="navbar" data-ng-controller="HeaderController" data-ng-show="authentication.user">
  <div class="navbar__inner">
    <header class="navbar__header">
      <a class="navbar-brand" data-ng-click="toggleLayoutMode()">
        <i class="icon" data-ng-class="{'icon-left': !$storage.miniMode, 'icon-right': $storage.miniMode}"></i>
        <span class="text">monolie</span>
      </a>
    </header>
    <div class="navbar__body">

      <ul class="nav-main" data-ng-if="authentication.user;">

        <!-- <li data-ng-class="{active: $state.includes(item.state)}" class="nav-main__item {{item.class}}">
				<a  data-ui-sref="listsCategorized" data-ui-sref-active="active" tooltip-placement="right "   tooltip-popup-delay='{{tooltipDelay}}' tooltip-append-to-body="true" tooltip="All Lists" >
				<i class="icon-lists"></i>
					<span class="text">All</span>
				</a>
			</li> -->
        <li class="nav-main__item">
          <a data-ui-sref-active="active" data-ui-sref="home" tooltip-append-to-body="true" tooltip-placement="right " tooltip-popup-delay='{{tooltipDelay}}' tooltip="All Lists">
            <i class="icon-recent"></i>
            <span class="text">My Lists</span>
          </a>
        </li>

        <li class="nav-main__item {{item.class}}" data-ng-class="{active: $state.includes(item.state)}">
          <a data-ui-sref-active="active" data-ui-sref="listFavorites" tooltip-append-to-body="true" tooltip-placement="right " tooltip-popup-delay='{{tooltipDelay}}' tooltip="Favorite Lists">
            <i class="icon-favorite"></i>
            <span class="text">Favorites</span>
          </a>

        </li>

      </ul>
				<ul class="nav-sub" data-ng-controller="CategoriesController"  data-ng-if="authentication.user;" data-ng-init="find()">
						<li data-ng-repeat="category in $root.categories" >
							<a  ng-click="goToCategory(category._id)" ng-class="{active: $stateParams.catId == category._id}"   tooltip-placement="right "   tooltip-popup-delay='{{tooltipDelay}}' tooltip-append-to-body="true" tooltip="{{category.name}}">
									<i class="icon icon-c-{{CATEGORY_ICONS[category.marker]}}"></i>
									<span class="text">{{category.name}}</span>
							</a>
						</li>
						<li>
							<a data-ng-click="openCreateCategoryModal()"  href="javascript:void(0);" class="add" data-ng-show="authentication.user"  tooltip-placement="right "   tooltip-popup-delay='{{tooltipDelay}}' tooltip-append-to-body="true" tooltip="Add Category">
							<i class="icon icon-add"></i>
								<span class="text">Add Category</span>
							</a>
						</li>

					</ul>


    </div>
  </div>
  <footer class="navbar__footer" data-ng-show="authentication.user">

    <div class="navbar-user">
      <div class="" data-ng-controller="UsersController">
        <a class="navbar-user__link" data-ng-click="showUsersModal(authentication.user)" href="javascript:void(0)" tooltip-append-to-body="true" tooltip-placement="right " tooltip-popup-delay='{{tooltipDelay}}' tooltip="User Settings">
          <img alt="{{authentication.user.displayName}}" class="header-profile-image" data-ng-src="{{authentication.user.profileImageURL}}"/>
          <span class="text" data-ng-bind="authentication.user.displayName"></span>
        </a>
        <!--
					<ul class="navbar-user__submenu nav-sub" collapse="!isUserExpanded" >
						<li style=""><a data-ui-sref="settings.profile"> <i class="icon-profile"></i> Edit Profile</a></li>
						<li style=""><a href="/api/auth/signout" target="_self"><i class="icon-sign-out"></i> Signout</a></li>
					</ul>
					-->
      </div>
    </div>

  </footer>
</div>
