<div>
    <button type="button" class="close" ng-click="cancel()" data-dismiss="modal" ><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal__title">Create Category</h3>

    <div class="">
        <form class="form-horizontal" data-ng-submit="ok()" novalidate>
            <fieldset>
                <div class="modal__row">
                    <label class="" for="name">Name</label>
                        <input type="text" data-ng-model="category.name" id="name" class="" autofocus placeholder="Name" required>
                </div>
                   <div class="modal__row" style="padding-top: 30px;" >
                       <label class="" for="name">Icons</label>

                  <a class="btn btn-icon btn-icon-only"  data-ng-repeat="num in parentScope.CATEGORY_ICONS" ng-class="{active: category.marker == $index}"  ng-click="setMarker($index)">
                        <i class="icon icon-c-{{num}}"></i>
                    </a>
                </div >
                <div class="btn__container modal__row">
        <button type="submit" class="btn btn-ok" >Save</button>
          <a class="btn btn-cancel" data-ng-click="cancel();" >Cancel</a>
                </div>

        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
            </fieldset>
        </form>
    </div>
</div>
