<div>
    <button type="button" class="close" ng-click="ok()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal__title">List Options</h3>

   <div class="modal__row">
     <div class="">
        <label class="" for="name">Title</label>
          <input type="text" data-ng-model="category.name" id="name" class="" placeholder="Name" autofocus required>
      </div>
    </div>

   <div class="modal__row" style="padding-top: 30px; " >
           <label class="" for="name">Icons</label>

      <a class="btn btn-icon btn-icon-only"  data-ng-repeat="num in parentScope.CATEGORY_ICONS" ng-class="{active: category.marker == $index}"  ng-click="category.marker = $index; ok(); ">
            <i class="icon icon-c-{{num}}"></i>
        </a>
    </div >
    <div class="modal__row"  >
        <a class="btn  btn-remove" id="removeCategoryButton" slide-toggle="#removeCategory" >
        <i class="icon-remove"></i>
             Remove Category
        </a>

    <div id="removeCategory" class="modal__row__sub slideable">
       <div class="btn__container">
            <button class="btn btn-ok"   data-ng-click="removeCategory(); cancel();" >Ok</button>
              <a class="btn btn-cancel" slide-toggle-sub="#removeCategoryButton"  >Cancel</a>
            </div>
    </div>
    </div>
</div>
