
<div class="modal-backdrop fade  in"  style="z-index: 1040; display: block">
</div>
<div data-ng-controller="PasswordController" class="modal fade in"   style="z-index: 1050; display: block" >
    <div class="modal-dialog modal-md">
            <h1 class="modal__above" >monolie</h1>

        <div class="modal-content">
            <div class="ng-scope">
    <h3 class="modal__title">Restore your password</h3>
    <p class="modal__subtitle">Enter your account username.</p>
                <div class="modal__row">
                    <form data-ng-submit="askForPasswordReset()" novalidate="">
                        <fieldset>
                            <div class="">
                                <input type="text" id="username" name="username" class="" data-ng-model="credentials.username" placeholder="Username">
                            </div>
                            <div data-ng-show="error" class="text-center text-error">
                                <strong data-ng-bind="error"></strong>
                            </div>

                            <div class="btn__container">
                                <button class="btn btn-ok">Ok</button>
                            </div>

                            <div data-ng-show="error" class="text-message text-error">
                            <strong>{{error}}</strong>
                        </div>
                        <div data-ng-show="success" class="text-message text-success">
                            <strong>{{success}}</strong>
                        </div>

                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal__below">
            <a data-ui-sref="authentication.signin">Back</a>
        </div>
    </div>
</div>
