<div class="modal-backdrop fade  in" style="z-index: 1040; display: block">
</div>
<div data-ng-controller="PasswordController" class="modal fade in" style="z-index: 1050; display: block">
    <div class="modal-dialog modal-md">
        <h1 class="modal__above">monolie</h1>

        <div class="modal-content">
            <div class="ng-scope">
                <h3 class="modal__title">Reset your password</h3>
                <div class="modal__row">
                    <form data-ng-submit="resetUserPassword()" class="signin form-horizontal" autocomplete="off">
                        <fieldset>
                            <div class="">
                                <label for="newPassword">New Password</label>
                                <input type="password" id="newPassword" name="newPassword" class="" data-ng-model="passwordDetails.newPassword" placeholder="New Password">
                            </div>
                            <div class="">
                                <label for="verifyPassword">Verify Password</label>
                                <input type="password" id="verifyPassword" name="verifyPassword" class="" data-ng-model="passwordDetails.verifyPassword" placeholder="Verify Password">
                            </div>
                            <div class="text-center ">
                                <button type="submit" class="btn btn-ok">Update Password</button>
                            </div>
                            <div data-ng-show="error" class="text-message text-error">
                                <strong>{{error}}</strong>
                            </div>
                            <div data-ng-show="success" class="text-message text-success">
                                <strong>{{success}}</strong>
                            </div>
                        </fieldset>
                    </form>


                </div>
            </div>
        </div>
        <div class="modal__below">
            <a data-ui-sref="authentication.signin">Back</a>
        </div>
    </div>
</div>
