<section class="row" data-ng-controller="EditProfileController">
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div class="form-group">
					<label for="firstName">First Name</label>
					<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class="form-control" data-ng-model="user.username" placeholder="Username">
				</div>
				<a data-ui-sref="settings.password">Change Password</a>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-large btn-primary">Save Profile</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Saved Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
									<a data-ui-sref="settings.accounts">Manage Social Accounts</a>

			</fieldset>
		</form>
	</div>
</section>

<section class="row" data-ng-controller="ChangeProfilePictureController">
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-4">
		<form class="signin form-horizontal">
			<fieldset>
				<div class="form-group text-center">
					<img data-ng-src="{{imageURL}}" alt="{{user.displayName}}" class="img-thumbnail user-profile-picture">
				</div>
				<div class="text-center form-group" data-ng-hide="uploader.queue.length">
					<span class="btn btn-default btn-file">
    					Select Image <input type="file" nv-file-select uploader="uploader">
					</span>
				</div>
				<div class="text-center form-group" data-ng-show="uploader.queue.length">
					<button class="btn btn-primary" data-ng-click="uploadProfilePicture();">Upload</button>
					<button class="btn btn-default" data-ng-click="cancelUpload();">Cancel</button>
				</div>
				<div data-ng-show="success" class="text-center text-success">
					<strong>Profile Picture Changed Successfully</strong>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>

