<form class="listmode-columns" novalidate list-global  list-shortcuts links-clickable >
    <fieldset infinite-scroll="addMoreItems()" infinite-scroll-distance="2">
        <div  ui-tree data-drag-enabled="list.locked == 0" class="form-group"  >
            <div ui-tree-nodes="" ng-model="list.items" item-tags temp-model item-options>
                <div class="list-item" ui-tree-node ng-repeat="item in list.items | limitTo:config.itemsDisplayedInList"  ng-class="{divider: item.divider == true, hasDescription: item.content}" >
                    <span ui-tree-handle class="handle"></span>
                    <div class="row">
                        <div class="col-xs-4" >
                            <div contenteditable ng-readonly="list.locked != 0"  input-title=""  data-item-index="{{$index}}"    type="text"   class="input-title input-title-div" placeholder="..." ng-bind-html="::item.title | sanitize"></div>
                            <span class="list-item__tags" style="">
                                <span  ng-repeat-start="tag in item.tags"   class=" tag tag-{{tag.type}}" ng-repeat-end><span class="tag__content" data-ng-bind="tag.content"></span></span>
                            </span>
                        </div>
                        <div class="col-xs-8"  >
                            <div ng-repeat="subitem in item.content" class="list-subitem {{subitem.type}}">
                              <div contenteditable ng-readonly="list.locked != 0"   input-description  data-sub-index="{{$index}}" data-item-index="{{$parent.$index}}" class="input-content input-content-div " placeholder="..."  ng-bind-html="::subitem.content | sanitize"></div>
                              <a ng-if="subitem.type == 'link'"  href="{{subitem.content | addHttp}}" target="_blank">{{subitem.content}}</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
