<form class="listmode-todo" novalidate list-global links-clickable check-box-list>
    <fieldset>
        <div  ui-tree data-drag-enabled="list.locked == 0" class="form-group" >
            <div ui-tree-nodes="" data-ng-model="list.items"  temp-model item-options item-tags >
                <div data-ng-repeat="item in list.items" class="controls list-item"  data-ng-class="{divider: item.divider == true, done: !item.divider && item.checked}"  ui-tree-node="" ui-tree-handle=""  style="" editable-row>
                    <span ui-tree-handle class="handle"></span>
                    <div class="list-item__header">
                    <input data-ng-disabled="list.locked != 0"  data-ng-if="!item.divider" class="checkbox" type="checkbox" data-ng-model="item.checked">
                      <div contenteditable data-ng-readonly="list.locked != 0"   input-title   data-item-index="{{$index}}" type="text"  class="input-title input-title-div mousetrap" placeholder="..." ng-bind-html="::item.title | sanitize"></div>
                      <span class="list-item__tags" style="">
                          <span ng-repeat-start="tag in item.tags"   class=" tag tag-{{tag.type}}" ng-repeat-end><span class="tag__content" data-ng-bind="tag.content"></span></span>
                      </span>
                    </div>
                    <div>
                      <div data-ng-repeat="subitem in item.content" class="list-subitem  {{subitem.type}}"   data-ng-class="{done: subitem.checked}" >
                         <input data-ng-disabled="list.locked != 0"  data-ng-if="item.content.length > 1" class="checkbox" type="checkbox" data-ng-model="subitem.checked">

                        <div contenteditable="true" data-ng-readonly="list.locked != 0"    input-description   data-sub-index="{{$index}}"   data-item-index="{{$parent.$index}}" class="input-content  input-content-div" placeholder="..."  ng-bind-html="::subitem.content | sanitize"></div>
                            <a ng-if="subitem.type == 'link'"  href="{{subitem.content | addHttp}}" target="_blank">{{subitem.content}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- <button data-ng-click="addItem()" class="btn btn-primary">add item</button> -->

    </fieldset>
</form>
