<a  data-list-id="{{::list._id}}" class="category-item" ng-class="{active: $stateParams.listId == list._id, 'category-item--large': list.description}" >
	<div class="category-item__head " >
		<i class="icon icon-category icon-c-{{CATEGORY_ICONS[list.category.marker]}}"></i>
		<i ng-if="list.locked != 0" class="icon icon-lock"></i>

		<div class="category-item__title-container" >
			<h4 class="category-item__title">{{list.name}}</h4>
			<p class="category-item__description">{{list.description}}</p>
		</div>

		 <!-- <span class="category-item__date" >{{ formatDate(list.updated) }}</span> -->
		<button class="btn btn-icon category-item__options">
			<i class="icon icon-options-b"></i>
		</button>
	</div>
</a>
