<form class="listmode-default" novalidate list-global links-clickable list-shortcuts>
    <fieldset >
        <div ui-tree data-drag-enabled="list.locked == 0" class="list-container">
            <div ui-tree-nodes="" ng-model="list.items"  temp-model item-options item-tags>
                <div ng-repeat="item in list.items " class="list-item" ng-class="{divider: item.divider == true}" class="list-item" ui-tree-node="">
                    <span ui-tree-handle class="handle"></span>
                    <div class="list-item__header">
                            <div contenteditable data-item-index="{{$index}}" type="text" class="input-title input-title-div" placeholder="..." ng-bind-html="::item.title | sanitize"></div>
                        <span class="list-item__tags" style="">
                            <span  ng-repeat-start="tag in item.tags"   class=" tag tag-{{tag.type}}" ng-repeat-end><span class="tag__content" data-ng-bind="tag.content"></span></span>
                        </span>
                    </div>
                    <div ng-repeat="subitem in item.content" class="list-subitem {{subitem.type}}">
                            <div contenteditable  data-sub-index="{{$index}}" data-item-index="{{$parent.$index}}" class=" input-content input-content-div" placeholder="..." ng-bind-html="::subitem.content | sanitize"></div>
                        <a ng-if="subitem.type == 'link'" href="{{subitem.content | addHttp }}" target="_blank">{{subitem.content}}</a>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>
