<form class="listmode-slideshow" ng-model="list.items"  novalidate list-global  temp-model >
	<ul rn-carousel-index="list.itemIndex" rn-carousel rn-carousel-buffered="12"  rn-carousel-controls   rn-carousel-easing="easeOutBack" rn-carousel-duration="700" class="slideshow-container">
        <li ng-repeat="item in list.items">
            <div class="slideshow-item"    ng-class="{'slideshow-item--divider': item.divider == true}">
                <div contenteditable  ng-readonly="list.locked != 0"   data-item-index="{{$index + carouselBufferIndex}}"   input-title=""   type="text" class="input-title input-title-div slideshow-item__title" placeholder="..." >{{::item.title}}</div>
                <div contenteditable ng-readonly="list.locked != 0"    ng-repeat-start="subitem in item.content"  input-description   data-sub-index="{{$index}}" data-item-index="{{$parent.$index + carouselBufferIndex}}" class="input-content input-content-div slideshow-item__content {{subitem.type}}" placeholder="..." ng-repeat-end ng-bind-html="::subitem.content | sanitize"></div>
            </div>
        </li>
    </ul>
</form>
