<div class=" section-category__header" data-ng-class="{'section-category__header--searching' : $parent.query != '' } ">
    <div class=" section-category__header__inputs">

        <input class="search" placeholder="find.." class="form-control" ng-init="$parent.query = ''" ng-model="$parent.query" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 250, 'blur': 0} }" />
    </div>
    <div class=" section-category__header__options" data-ng-show="$parent.query != ''">
        <button data-ng-show="$parent.query != ''" data-ng-click="$parent.query = ''" class="btn btn-icon"><i class="icon icon-clear"></i>
        </button>

    </div>

    <div class=" section-category__header__options" data-ng-show="$parent.query == ''">
        <a class="btn btn-icon btn-category-options" data-ng-controller="CategoriesController" data-ng-show="authentication.user._id == currentCategory.user._id" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip="Category Options" data-ng-click="openCategoryOptionsModal($parent.currentCategory);">
            <i class="icon icon-options"></i>
        </a>
    </div>
    <div class=" section-category__header__options" data-ng-show="$parent.query == ''">
        <a class="btn btn-icon btn-create" data-ng-click="create(false,true);" tooltip-placement="bottom" tooltip-append-to-body="true" tooltip="Create List"><i class="icon icon-add"></i></a>
    </div>
</div>
