<div class="column-inner" match-window-height>
	<ng-include src="'modules/lists/views/includes/lists-header.html'" ></ng-include>
    <div class="category-divider"  ng-if="!query || query == ''"  >
			<div ng-if="list.category.name && $stateParams.catId">
        <i class="icon icon-c-{{CATEGORY_ICONS[list.category.marker]}}"></i>
        <h5 class="category-divider__text "  data-ng-bind="list.category.name"></h5>
			</div>
    </div>
	<ng-include src="'modules/lists/views/includes/lists-searchresults.html'" ></ng-include>
	<div select-lists ng-if="!query || query == ''" class="category-group">
		<div vs-repeat vs-size="height" >
		<div ng-repeat="list in lists">
			<div  ng-include="'modules/lists/views/includes/lists-item.html'"  ></div>
	</div>
	</div>
	</div>
	<div class="emptystate btn__container" data-ng-hide="!lists.$resolved || lists.length">
	  <!--   No Lists yet :( <br> -->
			<a href="javascript:void();" class="btn btn-ok" data-ng-click="create(false,true)"><i class="icon-add"></i>Create List</a>
	</div>

</div>
