<div  select-lists ng-if="$parent.query && $parent.query != ''">

	<div class="category-group">
	     <div class="category-divider">
			<div class="category-divider__text">
	     		Results for:  <span>{{$parent.query}}</span></div>
			</div>
		<div data-ng-repeat="list in lists|filter:$parent.query|orderBy:sortorder" ng-include="'modules/lists/views/includes/lists-item.html'"  ></div>
	</div>
</div>
