<section class="column-content__inner section-category-categories" data-ng-controller="ListsController" ng-init="find('category')" >
	<section class="column-lists"  data-ng-include="'modules/lists/views/includes/lists.html'" ></section>
	<section class="column-detail"  data-ng-include="'modules/lists/views/view-list.client.view.html'" ></div>
</section>
