<section class="column-content__inner section-category-recent" data-ng-controller="ListsController" ng-init="find('recent')" >
	<section class="column-lists">
		<div class="column-inner">
	    	<ng-include src="'modules/lists/views/includes/lists.html'" ></ng-include>
		</div>
	</section>

	<section  class="column-detail" data-ng-include="'modules/lists/views/view-list.client.view.html'" ></section>

</section>
