


<section class="column-content__inner section-category-categorized" data-ng-controller="ListsController">
   <section class="column-lists" match-window-height >
       <div class="column-inner">
           <ng-include src="'modules/lists/views/includes/lists-header.html'" scope=""></ng-include>
           <ng-include src="'modules/lists/views/includes/lists-searchresults.html'"  ng-if="query && query != ''" ng-init="find()" ></ng-include>

           <div select-lists ng-if="!query || query == ''" ng-init="find('recent')"  >
             <div vs-repeat class="">

               <div  data-ng-repeat="(key, value) in lists | groupBy: 'category.name'">
                   <div class="category-divider">
                       <!-- <i class="icon icon-c-{{CATEGORY_ICONS[key.marker]}}"></i> -->
                       <h5 class="category-divider__text " ng-if="key" data-ng-bind="key"></h5>
                   </div>
                   <div  class="category-group">
                        <div data-ng-repeat="list in value" ng-include="'modules/lists/views/includes/lists-item.html'" ></div>
                   </div>
               </div>
           </div>
       </div>
     </div>
   </section>
   <section class="column-detail"  data-ng-include="'modules/lists/views/view-list.client.view.html'" ></section>
</section>




<!--  <section class="column-content__inner section-category-categorized" data-ng-controller="ListsController">
   <section class="column-lists" match-window-height >
       <div class="column-inner">
           <ng-include src="'modules/lists/views/includes/lists-header.html'" scope=""></ng-include>
           <ng-include src="'modules/lists/views/includes/lists-searchresults.html'"  ng-if="query && query != ''" ng-init="find()" ></ng-include>

           <div ng-if="!query || query == ''" ng-init="find('categorized')">
               <div  data-ng-repeat="category in listsCategorized">
                   <div class="category-divider">
                       <i class="icon icon-c-{{CATEGORY_ICONS[category.marker]}}"></i>
                       <h5 class="category-divider__text " ng-if="category.name" data-ng-bind="category.name"></h5>
                   </div>
                   <div  class="category-group">
                        <div data-ng-repeat="list in category.items" ng-include="'modules/lists/views/includes/lists-item.html'" ></div>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <section class="column-detail"  data-ng-include="'modules/lists/views/view-list.client.view.html'" ></section>
</section>


-->
