<section class="column-content__inner section-category-recent" data-ng-controller="ListsController" ng-init="find('favorites')" >
	<section class="column-lists"  data-ng-include="'modules/lists/views/includes/lists.html'" ></section>
	<section  class="column-detail"  data-ng-include="'modules/lists/views/view-list.client.view.html'" ></section>
</section>
