<div>
  <button type="button" class="close" ng-click="ok()" data-dismiss="modal">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
  <h3 class="modal__title">List Options</h3>

  <div class="modal__row">
    <a class="btn btn-switch" data-ng-class="{active: list.locked == 1}" data-ng-click="list.locked == 0 ? list.locked = 1 : list.locked = 0">
      <i class="icon-lock"></i>
      <span class="switch">
        <span class="switch-handle"></span>
      </span>
      Locked
    </a>
  </div>

  <div class="modal__row">
    <a class="btn" data-ng-click="changeCategory(); ok();">
      <i class="icon-c-none"></i> Change Category
    </a>
    <a class="btn" data-ng-click="duplicateList(); ok();">
      <i class="icon-duplicate"></i> Duplicate List
    </a>
  </div>

  <div class="modal__row">
    <a class="btn" data-ng-click="exportAsMarkdown(); ok();">
      <i class="icon-export"></i> Export List
    </a>
    <a class="btn" data-ng-click="importFromMarkdown(); ok();">
      <i class="icon-import"></i> Import List
    </a>
  </div>

  <div class="modal__row">
    <a class="btn  btn-remove" data-ng-click="removeList(); ">
      <i class="icon-remove"></i> Remove List
    </a>
  </div>

</div>
