<div>
    <button type="button" class="close" ng-click="ok()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal__title">Export</h3>

   <div class="modal__row">
        <textarea class="textarea-markdown" msd-elastic ng-model="markdown"></textarea>
    </div>
</div>
