<div>
    <button type="button" class="close" ng-click="ok()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal__title">Edit Tag</h3>

<!--    <div class="modal__row">
        <a class="btn " data-ng-click="list.favorite = !list.favorite">
             Move Item
        </a>
    </div>   -->
    <div class="modal__row">
      <input type="text" ng-model="tag.content" ng-enter='ok();' autofocus />
    </div>


    <div class="modal__row">
        <a class="btn btn-remove" data-ng-click="removeTag(); ">
            <i class="icon-remove"></i>
             Remove Tag
        </a>
    </div>
</div>
