<div>
    <button type="button" class="close" ng-click="ok()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal__title">Categories</h3>

   <div class="modal__row" data-ng-repeat="category in categories">
  		<a class="btn" ng-class="{active: list.category._id == category._id}"  ng-click="chooseCategory(category._id);">
            <i class="icon icon-c-{{listScope.CATEGORY_ICONS[category.marker]}}"></i>
            {{category.name}}
        </a>
    </div>



</div>
