<div>
    <button type="button" class="close" ng-click="ok()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal__title">Item Options</h3>


    <div class="modal__row">
        <a class="btn" data-ng-click="addRatingTag(); ok();">
                <i class="icon-tag-rating"></i>

             Add Rating Tag
        </a>
    </div>
  <div class="modal__row">
        <a class="btn" data-ng-click="addDateTag(); ok();">
                <i class="icon-tag-date"></i>

             Add Date Tag
        </a>
    </div>
  <div class="modal__row">
        <a class="btn" data-ng-click="addDefaultTag(); ok();">
            <i class="icon-tags"></i>

             Add Tag
        </a>
    </div>

      <div class="modal__row">
        <a class="btn" data-ng-click="duplicateListItem(); ok();">
                <i class="icon-duplicate"></i>

             Duplicate Item
        </a>
    </div>
<!--   <div class="modal__row">
        <a class="btn" data-ng-click="addDefaultTag(); ok();">
             Add Image
        </a>
    </div>
 -->
    <div class="modal__row">
        <a class="btn  btn-remove" data-ng-click="removeItem(); ok();">
        <i class="icon-remove"></i>
             Remove Item
        </a>
    </div>
</div>
