<div>
    <button type="button" class="close" ng-click="ok()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal__title">List Modes</h3>

   <div class="modal__row">
      <a class="btn"  data-ng-class="{active: list.mode == 0}" data-ng-click="list.mode = 0; ok();">
          <i class="icon-mode-list"></i>
           Mode Default
      </a>
        <a class="btn"  data-ng-class="{active: list.mode == 1}" data-ng-click="list.mode = 1; ok();">
          <i class="icon-mode-columns"></i>
           Mode Columns
      </a>
        <a class="btn"  data-ng-class="{active: list.mode == 2}" data-ng-click="list.mode = 2; ok();">
          <i class="icon-mode-slideshow"></i>
           Mode Slideshow
      </a>
        <a class="btn"  data-ng-class="{active: list.mode == 3}" data-ng-click="list.mode = 3; ok();">
          <i class="icon-mode-todo"></i>
           Mode Todo
      </a>

  <!--      <a class="btn"  data-ng-class="{active: list.mode == 4}" data-ng-click="list.mode = 4; ok();">
     <i class="icon-mode-list"></i>
      Mode Performance Test
        </a> -->
    </div>

</div>
