<div>
    <button type="button" class="close" ng-click="ok()" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h3 class="modal__title">Import Markdown</h3>

   <div class="modal__row">
        <textarea class="textarea-markdown" ng-model="markdown"></textarea>
    
    </div>
<div class="modal__row">
        <a class="btn" data-ng-click="convert(); ">
                <i class="icon-import"></i>
             Import
        </a>
    </div>

</div>
