  <div data-ng-show="!listValid()" class="column-emptystate">
      No lists selected.
  </div>
<div  data-ng-init="findOne();"  match-window-height  class="column-inner column-inner--{{list.mode}} fade " data-ng-class="{'fullscreen': $root.fullscreen == true, in: $rootScope.listItemsLoaded, 'locked': list.locked}">
  <section class="section-list" ng-if="listValid()"  >
         <div data-ng-show="error" class="text-danger">
              <strong data-ng-bind="error"></strong>
          </div>
          <div class="section-list__header">

              <button type="button" class="btn-icon btn-categories    " dropdown-toggle ng-click="modals.openCategoriesModal()" tooltip-placement="bottom"  tooltip-append-to-body="true" tooltip="Change Category">
                  <i class="icon icon-c-{{CATEGORY_ICONS[list.category.marker]}}"></i>
              </button>


              <div class="section-list__header__inputs" list-header>
                  <div class="controls">
                      <textarea ng-readonly="list.locked != 0" msd-elastic type="text" data-ng-model="list.name" id="name" class="list-title" placeholder="Name" required ></textarea>
                  </div>
                  <div class="controls">
                      <textarea ng-readonly="list.locked != 0" msd-elastic type="text" style="border:none" data-ng-model="list.description" id="description" class="list-description" placeholder="Add Description" data-ng-class="{'list-description--visible': showDescription || list.description}"></textarea>
                  </div>
              </div>

              <div class="section-list__header__options" data-ng-show="authentication.user._id == list.user._id">

                <a class="btn btn-icon" data-ng-show="list.locked == 1" data-ng-click="list.locked == 0 ? list.locked = 1 : list.locked = 0" tooltip-placement="bottom" data-ng-class="{'active': list.locked}" tooltip-append-to-body="true" tooltip="Locked">
                      <i class="icon icon-lock"></i>
                  </a>
                  <a class="btn btn-icon" data-ng-click="openModesModal();" tooltip-placement="bottom"  tooltip-append-to-body="true" tooltip="List Modes">
                      <i class="icon icon-mode-{{modes[list.mode].css}}"></i>
                  </a>
                  <a class="btn btn-icon" data-ng-click="openSettingsModal();" tooltip-placement="bottom"  tooltip-append-to-body="true" tooltip="List Options">
                      <i class="icon icon-options"></i>
                  </a>
                  <a class="btn btn-icon" data-ng-click="list.favorite = !list.favorite" tooltip-placement="bottom" data-ng-class="{'active': list.favorite}" tooltip-append-to-body="true" tooltip="Favorite">
                      <i class="icon icon-favorite"></i>
                  </a>

                    <a class="btn btn-icon" ng-click="$root.fullscreen = !$root.fullscreen" tooltip-placement="bottom"  tooltip-append-to-body="true" tooltip="Fullscreen">
                      <!-- <i class="icon icon-options"></i> -->
                      <i data-ng-show="$root.fullscreen"  class="icon icon-remove"></i>
                      <i data-ng-show="!$root.fullscreen"  class="icon icon-fullscreen"></i>
                  </a>
              </div>

          </div>
      <div ng-switch on="list.mode" editable-list>
          <div class="" ng-switch-when="1">
              <div class="" ng-include="'modules/lists/views/includes/list-columns.html'"></div>
          </div>
          <div class="" ng-switch-when="2">
              <div class="" ng-include="'modules/lists/views/includes/list-slideshow.html'"></div>
          </div>
          <div class="" ng-switch-when="3">
              <div class="" ng-include="'modules/lists/views/includes/list-checkboxes.html'"></div>
          </div>
          <div class="" ng-switch-when="4">
              <div class="" ng-include="'modules/lists/views/includes/list-edit.html'"></div>
          </div>
          <div class="" ng-switch-default>
              <div class="" ng-include="'modules/lists/views/includes/list-edit.html'"></div>
          </div>
      </div>
      <div class="hidden">
          <div class="form-group">
              <button ng-click="update()" class="btn btn-default">Save</button>
          </div>
      </div>
  </section>
</div>
