<div class="modal-backdrop fade  in" modal-backdrop="" style="z-index: 1040;">
</div>
<div data-ng-controller="AuthenticationController" class="modal modal--login fade ng-isolate-scope in" style="z-index: 1050; display: block;">
    <div class="modal-dialog modal-md">
        	<h1 class="modal__above" >monolie</h1>

        <div class="modal-content">
            <div class="ng-scope">
                <h3 class="modal__title">Create Account</h3>

                <div class="modal__row">
                    <form data-ng-submit="create()" novalidate="">
                        <fieldset>
                              <div data-ng-show="error" class="text-message text-error ng-hide">
                                <strong data-ng-bind="error" class="ng-binding"></strong>
                            </div>

						<div class="input-container">
							<label for="email">Email</label>
							<input type="email" id="email" name="email" class="" data-ng-model="credentials.email"
								   placeholder="Email">
						</div>
						<div class="input-container">
							<label for="username">Username</label>
							<input type="text" id="username" name="username" class=""
								   data-ng-model="credentials.username" placeholder="Username">
						</div>
						<div class="input-container">
							<label for="password">Password</label>
							<input type="password" id="password" name="password" class=""
								   data-ng-model="credentials.password" placeholder="Password">
						</div>
            <div class="btn__container">
                <button type="submit" class="btn btn-ok">Sign Up</button>
            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal__below">
            <a data-ui-sref="authentication.signin">Back</a>
        </div>
    </div>
</div>
