<div class="modal-backdrop fade  in"  style="z-index: 1040;">
</div>
<!-- <div data-ng-controller="AuthenticationController" class="modal fade ng-isolate-scope in" size="sm" index="0" animate="animate" style="z-index: 1050; display: block;">
    <div class="modal-dialog modal-md">
		<h1 style="text-align: center">monolie</h1>
        <div class="modal-content" modal-transclude="">
            <div class="ng-scope">




                 <div class="modal__row"  >
        <a class="btn"  id="editProfileToggler" slide-toggle="#signup" >
            <i class=" icon-collapse" style=""></i>
           Sign Up
        </a>
                <div class="modal__row__sub slideable" id="signup">
                    <form data-ng-submit="signup()" novalidate="">
                        <fieldset>
                		<div class="input-container">
							<label for="firstName">First Name</label>
							<input type="text" required id="firstName" name="firstName" class=""
								   data-ng-model="credentials.firstName" placeholder="First Name">
						</div>
						<div class="input-container">
							<label for="lastName">Last Name</label>
							<input type="text" id="lastName" name="lastName" class=""
								   data-ng-model="credentials.lastName" placeholder="Last Name">
						</div>
						<div class="input-container">
							<label for="email">Email</label>
							<input type="email" id="email" name="email" class="" data-ng-model="credentials.email"
								   placeholder="Email">
						</div>
						<div class="input-container">
							<label for="username">Username</label>
							<input type="text" id="username" name="username" class=""
								   data-ng-model="credentials.username" placeholder="Username">
						</div>
						<div class="input-container">
							<label for="password">Password</label>
							<input type="password" id="password" name="password" class=""
								   data-ng-model="credentials.password" placeholder="Password">
						</div>
                            <div class="btn__container">
                                <button type="submit" class="btn btn-ok">Ok</button>

                            </div>

                            <div data-ng-show="error" class="text-danger ng-hide">
                                <strong data-ng-bind="error" class="ng-binding"></strong>
                            </div>

                        </fieldset>
                    </form>
                </div>
                </div>


                 <div class="modal__row"  >
        <a class="btn"  id="editProfileToggler" slide-toggle="#signin" >
            <i class=" icon-collapse" style=""></i>
           Sign In
        </a>
                <div id="signin" class="modal__row__sub slideable">
                    <form data-ng-submit="signin()" novalidate="">
                        <fieldset>
                            <div class="group">
                                <label for="username">Username</label>
                                <input type="text" id="username" name="username" class="" data-ng-model="credentials.username" placeholder="Username">
                            </div>
                            <div class="group">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" class="" data-ng-model="credentials.password" placeholder="Password">
                            </div>
                            <div data-ng-show="error" class="text-center text-error">
                                <strong data-ng-bind="error"></strong>
                            </div>

                            <div class="btn__container">
                                <button type="submit" class="btn btn-ok">Ok</button>

                            </div>

                            <div data-ng-show="error" class="text-danger ng-hide">
                                <strong data-ng-bind="error" class="ng-binding"></strong>
                            </div>

                        </fieldset>
                    </form>
                </div>
                </div>



            </div>
        </div>
        <div class="input-container" style="margin-top: 10px">
        </div>
    </div>
</div>
 -->

<div data-ng-controller="AuthenticationController" class="modal modal--login fade ng-isolate-scope in" style="z-index: 1050; display: block;">
    <div class="modal-dialog modal-md">
    	<h1 class="modal__above" >monolie</h1>

        <div class="modal-content" >
            <div class="ng-scope">
                <h3 class="modal__title">Sign in</h3>

                <div class="modal__row">
                    <form data-ng-submit="signin()" novalidate="">
                        <fieldset>
                            <div data-ng-show="error" class="text-message text-error">
                                <strong data-ng-bind="error"></strong>
                            </div>
                            <div class="input-container">
                                <label for="username">Username</label>
                                <input type="text" id="username" name="username" class="" data-ng-model="credentials.username" placeholder="Username">
                            </div>
                            <div class="input-container">
                                <label for="password">Password</label>
                                <input type="password" id="password" name="password" class="" data-ng-model="credentials.password" placeholder="Password">
                            </div>

                            <div class="btn__container">
                                <button type="submit" class="btn btn-ok">Ok</button>

                            </div>


                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal__below" style="">
            <a data-ui-sref="password.forgot">Forgot password?</a>
            <a style="display:none" data-ui-sref="authentication.signup">No Account?</a>
            <a style="display:none" data-ui-sref="authentication.create">Create Account</a>
        </div>
    </div>
</div>
