<!-- <div data-ng-controller="AuthenticationController">
	<div class="col-xs-offset-2 col-xs-8 col-md-offset-2 col-md-8">
	<h3 class="">Sign up </h3>
		<form name="userForm" data-ng-submit="signup()" class="signin" novalidate autocomplete="off">
			<fieldset>
				<div class="input-container">
					<label for="firstName">First Name</label>
					<input type="text" required id="firstName" name="firstName" class=""
						   data-ng-model="credentials.firstName" placeholder="First Name">
				</div>
				<div class="input-container">
					<label for="lastName">Last Name</label>
					<input type="text" id="lastName" name="lastName" class=""
						   data-ng-model="credentials.lastName" placeholder="Last Name">
				</div>
				<div class="input-container">
					<label for="email">Email</label>
					<input type="email" id="email" name="email" class="" data-ng-model="credentials.email"
						   placeholder="Email">
				</div>
				<div class="input-container">
					<label for="username">Username</label>
					<input type="text" id="username" name="username" class=""
						   data-ng-model="credentials.username" placeholder="Username">
				</div>
				<div class="input-container">
					<label for="password">Password</label>
					<input type="password" id="password" name="password" class=""
						   data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="text-center ">
					<button type="submit" class="btn btn-large btn-primary">Sign up</button>
					&nbsp; or&nbsp;
					<a data-ui-sref="authentication.signin" class="show-signup">Sign in</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</div>
 -->




<div class="modal-backdrop fade  in" modal-backdrop="" style="z-index: 1040;">
</div>
<div data-ng-controller="AuthenticationController" class="modal modal--login fade ng-isolate-scope in" style="z-index: 1050; display: block;">
    <div class="modal-dialog modal-md">
        	<h1 class="modal__above" >monolie</h1>

        <div class="modal-content">
            <div class="ng-scope">
                <h3 class="modal__title">Sign Up</h3>

                <div class="modal__row">
                    <form data-ng-submit="signup()" novalidate="">
                        <fieldset>
                              <div data-ng-show="error" class="text-message text-error ng-hide">
                                <strong data-ng-bind="error" class="ng-binding"></strong>
                            </div>
                		<div class="input-container">
							<label for="firstName">First Name</label>
							<input type="text" required id="firstName" name="firstName" class=""
								   data-ng-model="credentials.firstName" placeholder="First Name">
						</div>
						<div class="input-container">
							<label for="lastName">Last Name</label>
							<input type="text" id="lastName" name="lastName" class=""
								   data-ng-model="credentials.lastName" placeholder="Last Name">
						</div>
						<div class="input-container">
							<label for="email">Email</label>
							<input type="email" id="email" name="email" class="" data-ng-model="credentials.email"
								   placeholder="Email">
						</div>
						<div class="input-container">
							<label for="username">Username</label>
							<input type="text" id="username" name="username" class=""
								   data-ng-model="credentials.username" placeholder="Username">
						</div>
						<div class="input-container">
							<label for="password">Password</label>
							<input type="password" id="password" name="password" class=""
								   data-ng-model="credentials.password" placeholder="Password">
						</div>
            <div class="btn__container">
                <button type="submit" class="btn btn-ok">Sign Up</button>
            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
        <div class="modal__below">
            <a data-ui-sref="authentication.signin">Back</a>
        </div>
    </div>
</div>
